.AboutMain {
  width: 1150px;
  transition: transform 0.6s ease-in-out;
  min-width: 250px;
  }

  @media (max-width: 1200px) {
    .AboutMain {
      width: 100%;
    }
  }
  
  .AboutBackground {
    background-image: url("../../public/images/About/aboutbackground.jpeg");
    background-size: cover;
    background-color: burlywood;
  }
