.imageDiv {
  overflow: hidden;
}

.imageDiv > img {
  transition: transform 250ms ease-in-out, filter 250ms ease-in-out;
}

.imageDiv:hover > img {
  transform: scale(1.25);
  filter: brightness(60%);
}

@media (min-width: 1180px) {
  .blackText {
    color: black;
  }
  .whiteText {
    color: white;
  }
}

@media (max-width: 1180px) {
  .whiteText {
    color: black;
  }
  .blackText {
    color: white;
  }
}
