.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in-out, filter 250ms ease-in-out;
}

.img-container:hover > img {
  transform: scale(1.25);
  filter: brightness(60%);
}
