.MainHome {
  width: 1180px;
  transition: transform 0.6s ease-in-out;
}

.left-onHover {
  transform: translateX(-3%);
}

.left-HideOn {
  transform: translateX(-79%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.MainBackground {
  animation: change 30s infinite ease-in;
}

@keyframes change {
  0% {
    background-image: url(/public/images/HomePage/Three.jpg);
  }
  30% {
    background-image: url(/public/images/HomePage/One.jpg);
  }
  80% {
    background-image: url(/public/images/HomePage/Two.jpg);
  }
  100% {
    background-image: url(/public/images/HomePage/Three.jpg);
  }
}

.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in-out, filter 250ms ease-in-out;
}

.img-container:hover > img {
  transform: scale(1.25);
  filter: brightness(60%);
}

.line {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  padding: 0;
  margin-bottom: 16px;
}

.lineUp {
  animation: 6s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
