.InvestorsMain {
  width: 90%;
  transition: transform 0.6s ease-in-out;
}

.InvestorsBackground {
  background-image: url("../../public/images/Investors/background.jpg");
  background-size: cover;
  background-color: burlywood;
}

.line {
    height: 80%;
}
