.navTags {
  display: inline-block;
  position: relative;
}
.navTags:after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  transition: 300ms;
}

.navTags:hover:after {
  width: 100%;
}

.navTags:not(:hover):after {
  right: 0;
  left: auto;
}

