.TranquilRetreatMain {
  width: 1150px;
  transition: transform 0.6s ease-in-out;
  min-width: 250px;
}

@media (max-width: 1200px) {
  .TranquilRetreatMain {
    width: 100%;
  }
}

.TranquilRetreatBackground {
  background-image: url("../../public/images/Tranquil/background.jpg");
  background-size: cover;
  background-color: burlywood;
  filter: brightness(80%);
}

.describeHarmony {
  font-size: 32px;
  width: 65%;
}
