.TranquilRetreatMain {
  width: 1180px;
  transition: transform 0.6s ease-in-out;
}

.TranquilRetreatBackground {
  background-image: url("../../public/images/Tranquil/background.jpg");
  background-size: cover;
  background-color: burlywood;
  filter: brightness(80%);
}

.describeHarmony {
  font-size: 32px;
  width: 65%;
}
