a {
  display: inline-block;
  position: relative;
}

a:after {
  content: '';
  width: 0px;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  transition: 300ms;
}

a:hover:after {
  width: 100%;
}

a:not(:hover):after {
  right: 0;
  left: auto;
}